// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    background-color: #f8f8f8;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.header {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 15px 0 rgb(51 51 51 / 5%);
}

.toolbar {
    min-height: 80px;
}

.logo {
    width: 160px;
}

.drawer {
    box-shadow: 0 2px 15px 0 rgb(51 51 51 / 5%);
}

.list {
    padding: 0.75rem 1.25rem !important;
}

.list-hr {
    border: 1px solid #eeeeee;
    border-width: 0 0 1px;
}

.list-item {
    color: #333;
}

.list-item.active {
    background-color: #f8f8f8;

    .list-item-icon {
        color: #0ec6d5;
    }
}

.list-item:hover {
    .list-item-icon {
        color: #0ec6d5;
    }
}